@import "styleGuide";

.wrapperMain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  position: relative;
  height: 950px;
  z-index: 990;
}

.homePageTitleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 999;
  flex-direction: column;
  h1 {
    margin-bottom: 1%;
    margin-top: 0;
  }
  h2 {
    margin: 0;
    align-self: center;
    font-size: clamp(2.5rem, 2.5558rem + 2.4675vw, 4.5rem);
    text-align: center;
    font-family: "Lobster Two", cursive;
    color: var(--color-white);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    animation: slidein 6s 1;
    letter-spacing: 5px;
  }
}
.wrapperOpacityAnime,
.wrapperOpacityAnime2 {
  max-width: 100%;
}
@keyframes slidein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideinout {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0;
  }
}
.sideMenu {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 10%;
  right: 0;
  padding: 0 0;
  height: 80vh;
  width: 15%;
}

.sideMenu ul {
  display: flex;
  justify-content: space-evenly;
}

.sideMenu .type {
  height: 50px;
  z-index: 999;
  border-radius: 20px 0 0 20px;
  transition: all 0.2s ease-in-out;
}
.homeBackground {
  width: 100%;
  height: 100%;
}
canvas {
  background-color: rgb(4, 4, 48);
  z-index: -1;
  position: absolute;
}
.type {
  text-shadow: black 2px 2px;
  border: solid white 1px;
  font-weight: bold;
  color: white;
}
.type[name="Lipstick"] {
  background-color: red;
}
.type[name="Blush"] {
  background-color: goldenrod;
}
.type[name="Bronzer"] {
  background-color: black;
}
.type[name="Eyeliner"] {
  background-color: purple;
}
.type[name="Eyeshadow"] {
  background-color: green;
}
.type[name="Foundation"] {
  background-color: midnightblue;
}
.type[name="Lipliner"] {
  background-color: rgb(252, 121, 143);
}
.type:hover {
  background-color: grey;
  cursor: pointer;
  transform: scale(1.15);
}

.aboutIntroduction {
  background-color: var(--introductionColor);
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  p {
    color: var(--color-font);
  }
}

@keyframes slideinLeft {
  0% {
    margin-left: -6800px;
  }
  20% {
    margin-left: -6800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slideinLeftReverse {
  0% {
    margin-left: 0px;
  }
  35% {
    margin-left: -6800px;
  }
  100% {
    margin-left: -6800px;
  }
}

@keyframes slideinRight {
  0% {
    margin-right: -3800px;
  }
  20% {
    margin-right: -3800px;
  }
  35% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}

@keyframes slideinRightReverse {
  0% {
    margin-right: 0px;
  }
  20% {
    margin-right: 0px;
  }
  35% {
    margin-right: -3800px;
  }
  100% {
    margin-right: -3800px;
  }
}
.aboutParaContent {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;

  h3 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-black);
  }
}
.aboutParaImgGallery {
  width: 100%;
  display: flex;
  padding-top: 5%;

  img {
    border: grey solid 1px;
    margin-left: 2rem;
  }

  img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.aboutParaImgGallery img,
.aboutproductimg img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  opacity: 1;
}

.appTagLine {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: left;
  padding-left: 5%;
}

.appTagLine h3 {
  width: 50%;
  color: white;
  letter-spacing: 1px;
}
.aboutproductimg {
  width: 50%;
  background-color: var(--color-Blue2Grey2White);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;

  img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transition: 3s ease-in-out;
  }
}
.theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.custom-radio-button {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-radio-button input {
  display: none;
}
.custom-radio-button .checkmark {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background-color: gold;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.custom-radio-button input:checked + .checkmark {
  opacity: 1;
  display: inline-block;
}
.scrollupto {
  position: fixed;
  border-radius: 50%;
  bottom: 55px;
  right: 10px;
  width: 80px;
  height: 80px;
}
i {
  font-size: 60px;
  border: 5px solid white;
  opacity: 1;
  position: fixed;
  border-radius: 50%;
  bottom: 55px;
  right: 10px;
  display: flex;
  color: white;
  width: 65px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.productNavButton {
  display: none;
}

@media only screen and (max-width: 900px) {
  nav.product ul {
    flex-wrap: wrap;
    margin-top: 20px;
    li {
      margin-bottom: 20px;
    }
  }

  .theme-toggle {
    display: none;
  }
  .sideMenu {
    display: none;
  }
  Canvas {
    width: 100%;
    height: 500px;
  }
  .aboutParaContent {
    width: 100%;
  }
  .aboutproductimg {
    display: none;
    width: 100%;
    min-height: 920px;
  }
  .aboutIntroduction {
    flex-direction: column;
  }
  .aboutParaImgGallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      margin-top: 5%;
    }
  }

  .wrapperMain {
    height: 500px;
  }
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  br {
    display: none;
  }
  .aboutParaContent h3 {
    letter-spacing: 0;
  }

  .wrapperOpacityAnime,
  .wrapperOpacityAnime2 {
    animation: none;
  }
}
@media only screen and (min-width: 901px) {
  Canvas {
    width: 100%;
    height: 960px;
  }
}

.char1,
.char7,
.char14,
.char21,
.char28 {
  color: red;
}

.char2,
.char8,
.char15,
.char22,
.char29 {
  color: orangered;
}

.char3,
.char9,
.char16,
.char23,
.char30 {
  color: yellow;
}

.char4,
.char10,
.char17,
.char24 {
  color: green;
}

.char5,
.char11,
.char18,
.char25 {
  color: blue;
}

.char6,
.char12,
.char19,
.char26 {
  color: purple;
}

.blank {
  opacity: 0;
}
.char13,
.char20,
.char27 {
  color: gold;
}
span:hover {
  color: white;
}
