
.wrapperMain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%; 
    margin: 0; 
    position: relative; 
    height: 100vh; 


}

.homePageTitleContainer {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: $fontLarge;
}

.sideMenu{
    display: flex; 
    flex-direction: column;
    list-style-type: none;
    border: solid black 2px;
    position: absolute;
    top: 20%; 
    right: 5%; 

}

.sideMenu {
    padding: 0 0; 
    height: 50vh;  
}

.sideMenu ul li { 
    border: solid black 2px; 
}
.homeBackground { 

    width: 100%;
    height: 100%; 
    background-color: midnightblue; 
}

