/*Setup CSS - Normalize Begins*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Setup CSS - Normalize Ends*/
/*Style Guide Content Measurements Begin */
html {
  --color-primaryBlueBlackRed: "rgb(5, 5, 49)";
  --color-primary2White: white;
  --color-h1: transparent;
  --color-themeChanger: white;
  --color-white: white;
  --color-font: black;
  --color-font2: black;
  --introductionColor: #ffe4e0;
  --color-black: black;
  --color-Nav: #171717;
  --color-Nav2: rgba(0, 0, 0, 1);
  --color-Nav3: rgba(0, 0, 0, 0);
  --color-Nav4: rgb(8, 8, 8);
  --color-Nav5: rgb(32, 32, 32);
  --color-NavBLack: black;
  --color-Blue2Grey2White: rgb(93, 126, 224);
  --roundImageColour: white;
  --productPage: rgb(5, 5, 49);
  --productPageForm: rgb(36, 35, 35);
  --ImageGallery: white;
}

html[data-theme=dark] {
  --color-primaryBlueBlackRed: #2c2c2c;
  --color-primary2: rgb(90, 90, 90);
  --color-secondary: rgb(90, 90, 90);
  --color-secondary2: #2c2c2c;
  --color-black: black;
  --color-font: white;
  --color-font2: white;
  --color-h1: white;
  --introductionColor: rgb(90, 90, 90);
  --color-themeChanger: black;
  --color-Nav: #171717;
  --color-NavBLack: black;
  --color-Nav2: rgba(0, 0, 0, 1);
  --color-Nav3: rgba(0, 0, 0, 0);
  --color-Nav4: rgb(8, 8, 8);
  --color-Nav5: rgb(32, 32, 32);
  --color-Blue2Grey2White: grey;
  --roundImageColour: white;
  --productPage: #534f4f;
  --productPageForm: rgb(36, 35, 35);
  --ImageGallery: rgb(97, 97, 97);
}

html[data-theme=christmas] {
  --color-Nav: rgb(6, 75, 27);
  --color-Nav2: rgba(17, 75, 6, 1);
  --color-Nav3: rgba(17, 75, 6, 0);
  --color-NavBLack: rgb(2, 88, 2);
  --color-Nav4: rgb(17, 75, 6);
  --color-Nav5: rgb(17, 75, 6);
  --color-Blue2Grey2White: white;
  --roundImageColour: black;
  --productPage: darkred;
  --productPageForm: rgb(1, 82, 1);
  --ImageGallery: rgb(231, 150, 150);
  --color-font: white;
  --color-font2: black;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  font-size: 20px;
}

h1 {
  font-size: clamp(5rem, 4.5558rem + 2.4675vw, 6.9rem);
  text-align: center;
  background-image: url("../assets/gifs/gif2.gif");
  background-size: cover;
  color: var(--color-h1);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  stroke: black;
  stroke-width: 2px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 29px;
  font-size: clamp(0.8rem, 0.5558rem + 0.4675vw, 1rem);
}

footer {
  width: 100%;
}

.creditsP {
  color: white;
  margin: 0;
}

.credits {
  background-color: #2c2c2c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-Nav);
  color: white;
  height: 60px;
  padding: 0 0;
  background-image: linear-gradient(to right, var(--color-Nav2), var(--color-Nav3) 20%, var(--color-Nav3) 80%, var(--color-Nav2)), linear-gradient(45deg, var(--color-NavBLack) 25%, transparent 25%, transparent 75%, var(--color-NavBLack) 75%, var(--color-NavBLack)), linear-gradient(45deg, var(--color-NavBLack) 25%, transparent 25%, transparent 75%, var(--color-NavBLack) 75%, var(--color-NavBLack)), linear-gradient(to bottom, var(--color-Nav4), var(--color-Nav5));
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
  border-bottom: solid black 2px;
}

nav.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-Nav);
  border-bottom: solid gold 2px;
  padding: 0.5%;
}

.home ul,
.product ul {
  list-style-type: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0;
  width: 50%;
  margin: 0 0;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home li,
.product li {
  border: solid gold 2px;
  padding: 10px 10px;
  height: 45px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 143px;
  text-align: center;
  align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 25px;
  color: white;
  background-color: var(--color-Nav4);
  margin: 0 1%;
}

.home ul a,
.product ul a {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: black 1px 1px;
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.home li:hover,
.product li:hover {
  background-color: #747272;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .home ul,
.product ul {
    width: 100%;
  }
}
@media only screen and (max-width: 625px) {
  nav.product ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav.product ul li {
    margin-bottom: 20px;
  }
}
/*Style Guide Content Measurements Begin */
html {
  --color-primaryBlueBlackRed: "rgb(5, 5, 49)";
  --color-primary2White: white;
  --color-h1: transparent;
  --color-themeChanger: white;
  --color-white: white;
  --color-font: black;
  --color-font2: black;
  --introductionColor: #ffe4e0;
  --color-black: black;
  --color-Nav: #171717;
  --color-Nav2: rgba(0, 0, 0, 1);
  --color-Nav3: rgba(0, 0, 0, 0);
  --color-Nav4: rgb(8, 8, 8);
  --color-Nav5: rgb(32, 32, 32);
  --color-NavBLack: black;
  --color-Blue2Grey2White: rgb(93, 126, 224);
  --roundImageColour: white;
  --productPage: rgb(5, 5, 49);
  --productPageForm: rgb(36, 35, 35);
  --ImageGallery: white;
}

html[data-theme=dark] {
  --color-primaryBlueBlackRed: #2c2c2c;
  --color-primary2: rgb(90, 90, 90);
  --color-secondary: rgb(90, 90, 90);
  --color-secondary2: #2c2c2c;
  --color-black: black;
  --color-font: white;
  --color-font2: white;
  --color-h1: white;
  --introductionColor: rgb(90, 90, 90);
  --color-themeChanger: black;
  --color-Nav: #171717;
  --color-NavBLack: black;
  --color-Nav2: rgba(0, 0, 0, 1);
  --color-Nav3: rgba(0, 0, 0, 0);
  --color-Nav4: rgb(8, 8, 8);
  --color-Nav5: rgb(32, 32, 32);
  --color-Blue2Grey2White: grey;
  --roundImageColour: white;
  --productPage: #534f4f;
  --productPageForm: rgb(36, 35, 35);
  --ImageGallery: rgb(97, 97, 97);
}

html[data-theme=christmas] {
  --color-Nav: rgb(6, 75, 27);
  --color-Nav2: rgba(17, 75, 6, 1);
  --color-Nav3: rgba(17, 75, 6, 0);
  --color-NavBLack: rgb(2, 88, 2);
  --color-Nav4: rgb(17, 75, 6);
  --color-Nav5: rgb(17, 75, 6);
  --color-Blue2Grey2White: white;
  --roundImageColour: black;
  --productPage: darkred;
  --productPageForm: rgb(1, 82, 1);
  --ImageGallery: rgb(231, 150, 150);
  --color-font: white;
  --color-font2: black;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  font-size: 20px;
}

h1 {
  font-size: clamp(5rem, 4.5558rem + 2.4675vw, 6.9rem);
  text-align: center;
  background-image: url("../assets/gifs/gif2.gif");
  background-size: cover;
  color: var(--color-h1);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  stroke: black;
  stroke-width: 2px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 29px;
  font-size: clamp(0.8rem, 0.5558rem + 0.4675vw, 1rem);
}

footer {
  width: 100%;
}

.creditsP {
  color: white;
  margin: 0;
}

.credits {
  background-color: #2c2c2c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapperMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  margin: 0;
  position: relative;
  height: 950px;
  z-index: 990;
}

.homePageTitleContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.homePageTitleContainer h1 {
  margin-bottom: 1%;
  margin-top: 0;
}
.homePageTitleContainer h2 {
  margin: 0;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: clamp(2.5rem, 2.5558rem + 2.4675vw, 4.5rem);
  text-align: center;
  font-family: "Lobster Two", cursive;
  color: var(--color-white);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  -webkit-animation: slidein 6s 1;
          animation: slidein 6s 1;
  letter-spacing: 5px;
}

.wrapperOpacityAnime,
.wrapperOpacityAnime2 {
  max-width: 100%;
  opacity: 0;
}

@-webkit-keyframes slidein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideinout {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0;
  }
}
@keyframes slideinout {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0;
  }
}
.sideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 10%;
  right: 0;
  padding: 0 0;
  height: 80vh;
  width: 15%;
}

.sideMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sideMenu .type {
  height: 50px;
  z-index: 999;
  border-radius: 20px 0 0 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.homeBackground {
  width: 100%;
  height: 100%;
}

canvas {
  background-color: #040430;
  z-index: -1;
  position: absolute;
}

.type {
  text-shadow: black 2px 2px;
  border: solid white 1px;
  font-weight: bold;
  color: white;
}

.type[name=Lipstick] {
  background-color: red;
}

.type[name=Blush] {
  background-color: goldenrod;
}

.type[name=Bronzer] {
  background-color: black;
}

.type[name=Eyeliner] {
  background-color: purple;
}

.type[name=Eyeshadow] {
  background-color: green;
}

.type[name=Foundation] {
  background-color: midnightblue;
}

.type[name=Lipliner] {
  background-color: #fc798f;
}

.type:hover {
  background-color: grey;
  cursor: pointer;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.aboutIntroduction {
  background-color: var(--introductionColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.aboutIntroduction p {
  color: var(--color-font2);
}

@-webkit-keyframes slideinLeft {
  0% {
    margin-left: -6800px;
  }
  20% {
    margin-left: -6800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slideinLeft {
  0% {
    margin-left: -6800px;
  }
  20% {
    margin-left: -6800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes slideinLeftReverse {
  0% {
    margin-left: 0px;
  }
  35% {
    margin-left: -6800px;
  }
  100% {
    margin-left: -6800px;
  }
}
@keyframes slideinLeftReverse {
  0% {
    margin-left: 0px;
  }
  35% {
    margin-left: -6800px;
  }
  100% {
    margin-left: -6800px;
  }
}
@-webkit-keyframes slideinRight {
  0% {
    margin-right: -3800px;
  }
  20% {
    margin-right: -3800px;
  }
  35% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes slideinRight {
  0% {
    margin-right: -3800px;
  }
  20% {
    margin-right: -3800px;
  }
  35% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}
@-webkit-keyframes slideinRightReverse {
  0% {
    margin-right: 0px;
  }
  20% {
    margin-right: 0px;
  }
  35% {
    margin-right: -3800px;
  }
  100% {
    margin-right: -3800px;
  }
}
@keyframes slideinRightReverse {
  0% {
    margin-right: 0px;
  }
  20% {
    margin-right: 0px;
  }
  35% {
    margin-right: -3800px;
  }
  100% {
    margin-right: -3800px;
  }
}
.aboutParaContent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}
.aboutParaContent h3 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutParaImgGallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
}
.aboutParaImgGallery img {
  border: grey solid 1px;
  margin-left: 2rem;
}
.aboutParaImgGallery img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.aboutParaImgGallery img,
.aboutproductimg img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  opacity: 1;
}

.appTagLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding-left: 0%;
  padding-bottom: 10%;
}

.appTagLine2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding-bottom: 10%;
  padding-left: 1%;
}

.appTagLine h3 {
  width: 70%;
  font-family: "Lobster Two", cursive;
  color: var(--roundImageColour);
  letter-spacing: 1px;
  margin-left: 3%;
}

.appTagLine2 h3 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lobster Two", cursive;
  color: var(--roundImageColour);
  letter-spacing: 1px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.aboutproductimg {
  width: 50%;
  background-color: var(--color-Blue2Grey2White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}
.aboutproductimg img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

.appTagLine2 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.theme-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  margin-left: 2%;
}

.custom-radio-button {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-radio-button input {
  display: none;
}

.custom-radio-button .checkmark {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  background-color: gold;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.custom-radio-button input:checked + .checkmark {
  opacity: 1;
  display: inline-block;
}

.scrollupto {
  position: fixed;
  border-radius: 50%;
  bottom: 55px;
  right: 10px;
  width: 80px;
  height: 80px;
}

i {
  font-size: 60px;
  border: 5px solid white;
  opacity: 1;
  position: fixed;
  border-radius: 50%;
  bottom: 55px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.productNavButton {
  display: none;
}

@media only screen and (max-width: 900px) {
  nav.product ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  nav.product ul li {
    margin-bottom: 20px;
  }

  .theme-toggle {
    display: none;
  }

  .sideMenu {
    display: none;
  }

  Canvas {
    width: 100%;
    height: 500px;
  }

  .aboutIntroduction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .aboutParaImgGallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutParaImgGallery img {
    margin-top: 5%;
  }

  .Remove {
    display: none;
  }

  .wrapperMain {
    height: 500px;
  }

  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  br {
    display: none;
  }

  .aboutParaContent h3 {
    letter-spacing: 0;
  }

  .wrapperOpacityAnime,
.wrapperOpacityAnime2 {
    -webkit-animation: none;
            animation: none;
  }
}
@media only screen and (max-width: 1350px) {
  .sideMenu {
    display: none;
  }

  .theme-toggle {
    width: 15%;
  }

  .productNavButton {
    display: block;
  }

  .Remove {
    display: none;
  }

  .homeBeGone {
    display: none;
  }

  .aboutParaImgGallery img {
    margin-top: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 1100px) {
  .aboutproductimg {
    display: none;
    width: 100%;
    min-height: 920px;
  }

  .aboutParaContent {
    width: 100%;
  }
  .aboutParaContent h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 901px) {
  Canvas {
    width: 100%;
    height: 960px;
  }
}
.char1,
.char7,
.char14,
.char21,
.char28 {
  color: red;
}

.char2,
.char8,
.char15,
.char22,
.char29 {
  color: orangered;
}

.char3,
.char9,
.char16,
.char23,
.char30 {
  color: yellow;
}

.char4,
.char10,
.char17,
.char24 {
  color: green;
}

.char5,
.char11,
.char18,
.char25 {
  color: blue;
}

.char6,
.char12,
.char19,
.char26 {
  color: purple;
}

.blank {
  opacity: 0;
}

.char13,
.char20,
.char27 {
  color: gold;
}

span:hover {
  color: white;
}

.wordContainer {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapperProduct {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

ul img {
  display: block;
}

.theme-toggle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.productPage {
  background-color: var(--productPage);
  height: 35%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productTitleContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.productTitleContainer h2 {
  text-align: center;
  color: white;
  font-size: clamp(3rem, 1.4rem + 2.467vw, 4.5rem);
  text-shadow: black 3px 3px;
  text-transform: capitalize;
  font-family: "Lobster Two", cursive;
  letter-spacing: 2px;
}

.productMain {
  margin-bottom: 5%;
  background-color: var(--ImageGallery);
}
.productMain h2.title {
  text-align: center;
  color: white;
  background-color: var(--productPage);
  margin: 0;
  padding-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Lobster Two", cursive;
  letter-spacing: 2px;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
  grid-auto-rows: 35px;
  width: 100%;
  gap: 20px 2%;
  background-color: var(--productPageForm);
  padding: 2rem;
  border: gold solid 2px;
  border-left: 0;
  border-right: 0;
}
form .selection {
  position: relative;
  width: 100%;
  min-width: 9.5rem;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  cursor: pointer;
  line-height: 1.1;
  text-transform: uppercase;
  -moz-text-align-last: center;
       text-align-last: center;
  color: #040430;
  background-color: #040430;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), color-stop(33%, #fff));
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  position: relative;
}
form .selection select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  outline: none;
  cursor: pointer;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
}
form .selection option {
  text-align: left;
}

.alert {
  display: none;
  padding: 20px;
  background-color: lightskyblue;
  color: black;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.closeButton {
  margin-left: 15px;
  color: gold;
  background-color: lightskyblue;
  border: none;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.closeButton span {
  font-size: 30px;
  font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
  color: gold;
}
.closeButton:hover span,
.closeButton:focus span {
  color: black;
}

.showAlert {
  display: block;
}

.imageGallery {
  background-color: var(--ImageGallery);
}
.imageGallery ul.images {
  margin: 30px auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-auto-rows: minmax(400px, 1fr);
  gap: 1.5rem;
  padding: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.imageGallery h2 {
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  color: var(--color-font);
}

ul img {
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 30px;
  cursor: pointer;
  height: 350px;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

ul img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.smallImg {
  height: 450px;
}

li p {
  display: none;
}

li h3 {
  display: none;
}

li h4 {
  display: none;
}

div.detail {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.detail button {
  display: none;
  position: absolute;
}
div.detail button.show {
  display: block;
  position: static;
  -ms-flex-item-align: center;
      align-self: center;
  width: 6rem;
  margin-top: 1rem;
  padding: 0.3rem;
  background-color: #fef6e7;
  color: darkblue;
  border: 2px solid gold;
  border-radius: 25px;
  letter-spacing: 1px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
div.detail button.show:hover,
div.detail button.show:focus {
  background-color: #f2c46f;
}

.open {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  background-color: lavender;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.open p {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 5%;
  line-height: 25px;
}

.open h2 {
  display: none;
}

.open h3 {
  display: block;
  font-size: 38px;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
}

.open h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 34px;
  margin: 0;
  margin-bottom: 2%;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.opened {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  border: 5px solid gold;
  -webkit-box-shadow: 0px 0px 10px 1.5px gold;
  box-shadow: 0px 0px 10px 1.5px gold;
  margin-left: 10%;
}

.opened:hover {
  opacity: 1;
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
}

.scrollupto i {
  border: 5px solid black;
  color: grey;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

@media only screen and (min-width: 1080px) {
  form {
    grid-template-columns: 1fr 1fr;
  }
  form .select {
    grid-column-start: 1;
  }
}
@media only screen and (min-width: 1061px) {
  .theme-toggle2 {
    width: 15%;
  }
}
@media only screen and (max-width: 1060px) {
  .opened {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }

  .theme-toggle2 {
    display: none;
  }

  .product ul {
    width: 100%;
  }
}
@media only screen and (max-width: 910px) {
  .opened {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin: 0 auto;
  }

  .opened:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .open {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 96%;
  }
  .open p {
    margin-left: 0;
    margin-right: 0;
  }

  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (max-width: 495px) {
  form {
    grid-template-columns: 1fr;
  }
  form .select {
    grid-column-start: 1;
  }

  .open {
    height: 95%;
  }

  .opened {
    display: none;
  }

  .opened:hover {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }

  div.detail {
    width: 80%;
  }
  div.detail p {
    margin: 0;
  }
  div.detail button.show {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}
.productFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}